<div class="reddit-body">
  <div class="container">
    <div class="row all-news" *ngFor="let news of news$.reverse()">
      <!-- Section to Display Votes-->
      <div class="col-md-12">
        <div class="news-name">
          <h2>newsname: {{news.newsname}}</h2>
        </div>
        <div class="news-description">
          <h3>description: {{news.description}}</h3>
        </div>
        <div class="news-tags">
          <p>tags: {{news.tags}}</p>
        </div>
        <div class="news-text">
          <p>text: {{news.text}}</p>
        </div>
        <div class="url-image">
          <div>urlImg: {{news.urlImg}}</div>
        </div>
        <div class="rating">
          <div *ngIf="news.rating !== 'NaN'; else next"><h4>Rating: {{(news.rating.toFixed(3))}}</h4></div>
          <ng-template #next>
            <h4>No Rating yet</h4>
          </ng-template>
        </div>
      </div>
      <div>
        <button class="btn btn-primary" (click)="about(news)">about</button>
      </div>
    </div>
  </div>
</div>
