<div class="register-section">
  <div class="row justify-content-center">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-header" style="text-align: center">
          <h4>Update News</h4>
        </div>
        <div class="card-body" *ngIf="aboutNews">
          <form [formGroup]="updateNewsForm" (ngSubmit)="updateNews()" >
            <div class="form-group row">
              <label for="news_name" class="col-md-4 col-form-label text-md-right">News Name</label>
              <div class="col-md-6">
                <input type="text" [value]="aboutNews.newsname" [formControlName]="'newsname'" id="news_name" class="form-control" name="news-name">
                <span *ngIf="!updateNewsForm.get('newsname').valid && updateNewsForm.get('newsname').touched" class="help-block">News name can`t be empty</span>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-md-4 col-form-label text-md-right">Description</label>
              <div class="col-md-6">
                <input type="text" [value]="aboutNews.description" [formControlName]="'description'" class="form-control">
                <span *ngIf="!updateNewsForm.get('description').valid && updateNewsForm.get('description').touched" class="help-block">Description can`t be empty</span>
              </div>
            </div>

            <mat-form-field class="example-chip-list">
              <mat-chip-list #chipList aria-label="Fruit selection">
                <mat-chip
                  *ngFor="let tag of tags"
                  [selectable]="selectable"
                  [removable]="removable"
                  (removed)="remove(tag)">
                  {{tag}}
                  <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                </mat-chip>
                <input
                  placeholder="New tags..."
                  #tagInput
                  [formControl]="tagsCtrl"
                  [matAutocomplete]="auto"
                  [matChipInputFor]="chipList"
                  [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                  (matChipInputTokenEnd)="add($event)">
              </mat-chip-list>
              <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                <mat-option *ngFor="let tag of filteredTags | async" [value]="tag">
                  {{tag}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>

            <div class="form-group row">
              <label for="text" class="col-md-4 col-form-label text-md-right">Text</label>
              <div class="col-md-6">
                <input type="text" [value]="aboutNews.text" [formControlName]="'text'" id="text" class="form-control" name="password">
                <span *ngIf="!updateNewsForm.get('text').valid && updateNewsForm.get('text').touched" class="help-block">Text can`t be empty</span>
              </div>
            </div>
<!--            block for added and delete image-->
            <div>
              <div class="main-image mb-5">
                <p>main image</p>
                <img src="{{aboutNews.urlImg}}" alt="no-img" height="200px">
              </div>
              <div class="d-inline url-image mr-2" *ngFor="let image of allImageNews" >
                <img src="{{image.urlImg}}" alt="no-img" height="200px">
              </div>
            </div>

            <span class="col-md-6 offset-md-4">
              <button type="submit" class="sign-up">
                update
              </button>
            </span>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-3"></div>
  </div>
</div>
